@media screen and (min-width: 0) and (max-width: 720px) {
  TR {
    display: table-row;
  }
  TH {
    display: inline-block;
  }
  TH.img_element {
    width: 100%;
  }
  #url_1 {
    float: none;
    margin-right: auto;
  }
  #url_2 {
    float: none;
  }
  DIV.icon_alignment {
    display: block;
    margin: 0 auto;
  }
  SPAN.navText {
    font-size: 30px;
  }
  DIV.nav_button {
    border-bottom: none !important;
  }
  DIV.placement {
    display: block;
    text-align: center;
    width: auto;
    background-color: #000;
    opacity: 0.3;
  }
  SPAN.navText {
    font-size: 15px;
  }
  DIV.bottom_banner {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  TH {
    padding: 33px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 416px) {
  SHOWCASE.element_container {
    width: 100% !important;
  }
  TH.no_offset {
    width: 100% !important;
    padding: 20px !important;
  }
  TABLE.scroll-x {
    overflow: auto;
  }
}
@media screen and (min-width: 417px) and (max-width: 720px) {
  SHOWCASE.element_container {
    width: 380px;
    height: 660px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1100px) {
  SHOWCASE.element_container {
    width: 1050px !important;
  }
}
@media screen and (min-width: 1500px) {
  SHOWCASE.element_container {
    width: 1420px !important;
  }
  TABLE.scroll-x {
    overflow: auto;
  }
}
@media screen and (max-width: 440px) {
  DIV.wrapper {
    width: auto;
  }
  DIV.info_block {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 824px) {
  DIV.bottom_banner {
    width: 810px;
  }
  DIV.contact,
  DIV.follow {
    width: 400px;
  }
}
/* //UNCOMMENT WHEN TH IS CREATED AUTOMATICLY
@media screen and (min-width: 1400px)
    ARTICLE.element_container
        width: 90%;*/
@media screen and (max-width: 701px) {
  .sc_3 {
    width: 320px;
    display: block;
    margin: 0 auto !important;
  }
  DIV.pi_title_parent {
    height: auto;
    width: auto;
    position: inherit;
    margin-bottom: 10px;
  }
  SPAN.pi_title {
    display: block;
    padding: 0px;
    margin: 0 auto;
    width: 200px;
  }
}
@media screen and (min-width: 702px) and (max-width: 1026px) {
  .sc_3 {
    width: 650px;
    display: block;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1351px) {
  .sc_3 {
    width: 970px;
    display: block;
    margin: 0 auto !important;
  }
  .pi_name_parent {
    width: 300px !important;
    height: 300px !important;
  }
  .pi_table {
    width: 300px !important;
    height: 300px !important;
  }
  .pi_banner_style {
    display: inline-block !important;
    width: 276px !important;
    height: 153px !important;
    margin-top: 39px !important;
  }
}
@media screen and (min-width: 1352px) and (max-width: 1659px) {
  .sc_3 {
    width: 1300px;
    display: block;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1660px) {
  .sc_3 {
    width: 1620px;
    display: block;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 690px) {
  SECTION.portfolio_items {
    height: auto;
  }
  DIV.pi_container {
    display: block;
    margin: 0 auto;
    position: inherit;
    width: 250px;
  }
  DIV.pi_custom_triangle {
    top: -450px;
  }
}
@media screen and (min-width: 1027px) {
  .pi_name_parent {
    width: 300px !important;
    height: 300px !important;
  }
  .pi_table {
    width: 300px !important;
    height: 300px !important;
  }
  .pi_banner_style {
    display: inline-block !important;
    width: 276px !important;
    height: 153px !important;
    margin-top: 39px !important;
  }
  .pi_title_parent {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 961px) {
  SECTION.metric-box-align {
    width: 652px;
  }
}
@media screen and (max-width: 671px) {
  SECTION.metric-box-align {
    width: 100%;
  }
  DIV.metric-box {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  .fb-wrapper {
    width: 80%;
    padding: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .fb-wrapper {
    display: inline-block;
    margin: 20px;
  }
  .box_align {
    width: 1020px;
    display: block;
    margin: 0 auto;
  }
}
