<div ng-controller="pc_controller" ng-repeat="index in array" class="fb-wrapper">
    <section>
        <div class="fb-comment-wrapper">
            <span> 
                <q><em> {{pc_}} </em></q> 
            </span>
        </div>
        <div class="fb-bottom">
            <cite>-Somebody famous</cite>
        </div>
    </section>
</div>