<h2 class="{{home_welcome_class}} text-center" ng-model="title"> 
    <span style="{{validColours[0]}};" class="p1"> {{v1}} </span>
    <span style="{{validColours[1]}};" class="p2"> {{v2}} </span>
</h2>