<th ng-repeat="index in array" class="no_offset w3-animate-right">
    <div class="url_container">
        <div id="url_{{index}}" class="element_icon icon_alignment"></div> 
        <span class="element_description"> {{sub_title[index]}}</span>
    </div>
    
    <span class="element_text"> {{element_desc}} </span>
</th>