
BUTTON.cs4-button
    background-color: #d86c56;
    color: white;
    padding: 10px;
    width: auto;
    border: none;
    
BUTTON.cs4-button:hover
    border: 1px solid white;
    
BUTTON.cs4-XL
    width: 180px;
    height: 50px;
    


